h1{
    background-color: red;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* Descendent Selector */
/* if p is contained by any li which is contained by div */
div li p{
    color: yellow;
    background-color: green;
    font-weight: bold;
}

/* Child Selector */
/* if p is right inside div then this CSS will be applied */
div > p{
    color: yellow;
    background-color: green;
    font-weight: bold;
}

/* Adjacent Sibling Selector */
/* if p is right after div i.e p is the next sibling of div*/
div + p{
    color: white;
    background-color: rgb(238, 137, 137);
}