#para-1 {
    color: blueviolet; /* Color by name */
}

#para-2 {
    color: rgb(223, 130, 54); /* Color by RGB value */
    background-color: rgb(0, 0, 0); /* Background color using RGB */
}

#para-3 {
    color: white;
    background-color: #ff4532; /* Color by hex value */
}